<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>猫谷网</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/css/metro.css" rel="stylesheet">
	<link href="/css/metro-responsive.css" rel="stylesheet">
  	<link href="/css/home.css" rel="stylesheet">
</head>
<body class="container">
	<header>
		<div id="menu">
			<h1>猫谷网</h1>
			<ul class="f-menu red">
				<li>首页</li>
				<li>养猫经验</li>
				<li>品种介绍</li>
				<li>待售猫咪</li>
				<li>在线商城</li>
				<li>关于我们</li>
			</ul>
		</div>
	</header>
