<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>猫谷网</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/css/metro.css" rel="stylesheet">
	<link href="/css/metro-responsive.css" rel="stylesheet">
  	<link href="/css/metro-schemes.css" rel="stylesheet">
  	<link href="/css/home.css" rel="stylesheet">
</head>
<body class="container page-content bg-grayLighter">
	<div class='header bg-darkCyan fg-white fixed-top'>
	<div class="container">
		<h1>猫谷网</h1>
		<div class="menu">
			<ul class="f-menu bg-darkCyan">
				<li>首页</li>
				<li>养猫经验</li>
				<li>品种介绍</li>
				<li>待售猫咪</li>
				<li>在线商城</li>
				<li>关于我们</li>
			</ul>
		</div>
	</div>
	</div>

    <%- body %>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/metro.js"></script>
    <script src="/js/metro.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
